@font-face {
    font-family: junicond;
    src: url('/media/fonts/Junicode-CondLight.otf');
  }

* {
    margin: 1px;
    padding: 0;
    cursor: crosshair;
    scroll-behavior: smooth;
    --bg:  #525252;
    --text: #d6d6d6;
    --primary: #E2FF25;
    --secondary:  #151515;
    --accent: rgb(199, 199, 240);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--text);
}
::-webkit-scrollbar-thumb {
    background: var(--accent);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

body {
    font-family: junicond, Helvetica, sans-serif;
    font-size: 24px;

    background-color: var(--bg);
    background: linear-gradient(60deg, var(--bg) 0%, var(--text) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
    font-style: italic;
}

a:hover {
    color: var(--primary);
    text-decoration: line-through;
}

strong {
    font-weight: normal;
    color: var(--accent);
}

nav {
    position: fixed;
    top: 0;
    z-index: 10;
}

.body {
    margin: 4em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.body div {
    text-align: center;
    font-size: 0.75em;
}

.body div img {
    width: 75%;
    height: auto;
    max-height: 100vh;
    margin-bottom: 1em;
    border-radius: 1%;
    filter: drop-shadow(0px 0px 15px var(--bg));
}

.texto {
    margin: 4em 0;
}